/* I'm lovely! */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);




/*Global*/
body {
    background: url("../img/tangraybackground.jpg");
    background-size: contain;
}





/*Header*/
header img {
    width: 100px;
}





/*Main Nav*/

nav li{
  list-style: none;
  display: inline-block;
  font-family: 'IM Fell Double Pica', serif;
  font-variant: small-caps;
  }

nav a:link,
nav a:visited {
  background-color: #CFC9ED;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover {
  background-color: #2A3C7E;
  margin-left: .5em;
  color: #cce6ff; 
}

nav a:hover:before {
    padding-right: .5em;
    background: #2A3C7E;
    content: "\1F60D";
    transition: all 2s;
}

nav a:active {
  background-color: #99ccff;
  color: black;
}




/*    Quote    */

blockquote {
    font-size: 4em;
    font-family: 'IM Fell Double Pica', serif;
    text-align: center;
    color: #2A3C7E;
    text-shadow: 4px 4px 0 #CFC9ED;
    }

h1 {
    text-align: center;
    text-shadow: 3px 3px #CFC9ED;
    color: #2A3C7E;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 4em;
}

h2 {
   font-family: 'IM Fell Double Pica', serif;
}


h3 {
    font-family: 'IM Fell Double Pica', serif;
    font-variant: small-caps;
    font-size: 16pt;
}

h4 {
    font-family: 'IM Fell Double Pica', serif;
    font-family: monospace;
    font-size: 13pt;
}

p {
    font-family: 'IM Fell Double Pica', serif;
    color: #141B3D;
    font-size: 14pt;
}

section {
overflow: hidden;
}




/* Start frame */
figcaption {
  background: #F1E4D5;
  transition: margin-top 3s;
  opacity: .8;
}




/* End frame */
section:hover figcaption {
  margin-top: -120px;
}