/* I'm lovely! */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);
@import url('https://fonts.googleapis.com/css?family=Arvo');





/*Global*/
body {
    background: url("../img/profgraybackground.jpg");
    background-size: contain;
}





/*Header*/
header img {
    width: 100px;
}


/*Picture*/
.profilepic {
    width: 400px;
    height: 400px;
}



/*Main Nav*/

nav li{
  display: inline-flex;
  font-size: 1em;
  text-decoration: none;
  font-family: 'Arvo', serif;
  }


ul {
  text-align: center;
}

nav a:link{
  background-color: whitesmoke;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:visited {
  background-color: whitesmoke;
}

nav a:hover {
  background-color: black;
  margin-left: .5em;
  color: whitesmoke;
 
}

nav a:hover:before {
    padding-right: .5em;
    background: black;

}

nav a:active {
  background-color: whitesmoke;
  color: black;
}






/*    Quote    */

blockquote {
    font-size: 4em;
    font-family: 'Arvo', serif;
    text-align: center;
    color: #2A3C7E;
    text-shadow: 4px 4px 0 #CFC9ED;
    }

h1 {
    text-align: center;
    color: black;
   font-family: 'Arvo', serif;
    font-size: 4em;
}

h2 {
       text-align: center;
    color: black;
   font-family: 'Arvo', serif;
    font-size: 1em;
 
}


h3 {
       text-align: center;
    color: black;
    font-family: 'Arvo', serif;
    font-size: 1.5em;
}

h4 {
    font-family: 'Arvo', serif;
    font-size: 13pt;
}

p {
    font-family: 'Arvo', serif;
    color: black;
    font-size: 14pt;
}

p2 {
    font-family: 'Arvo', serif;
    color: black;
    font-size: 11pt;
}

section {
overflow: hidden;
    font-family: 'Arvo', serif;
}






/* Start frame */
figcaption {
  background: #F1E4D5;
  transition: margin-top 3s;
  opacity: .8;
}


/* End frame */
section:hover figcaption {
  margin-top: -30px;
}