/* I'm lovely! */
@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

/*Global*/
body {
    background: url("../img/");
}

/*Header*/
header img {
    width: 100px;
}

/*Main Nav*/

nav li{
  list-style: none;
  display: inline-block;
  }

nav a:link,
nav a:visited {
  background: red;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover {
  background: blue;
  margin-left: .5em;
 
}

nav a:active {
  background: yellow;
}
/*    Quote    */

blockquote {
    font-size: 4em;
    font-family: 'IM Fell Double Pica', serif;
    text-align: center;
    color: blue;
    text-shadow: 2px 2px 0 red;
    }

