@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);

@import url(https://fonts.googleapis.com/css?family=Sacramento);

.color-1 {
    background: #F1E4D5;
}

.color-2 {
    background: #2A3C7E;
}

.color-3 {
    background: #3E9CBB;
}

.color-4 {
    background: #46246B;
}

.pattern-1 {
    background: url(../img/background-texture-889036_960_720.jpg);
    background-size: cover;
}

.pattern-2 {
    background: url(http://www.pageresource.com/wallpapers/wallpaper/wedding-graphy-textures-fine-art-grunge_1265200.jpg);
    background-size: cover;
}

.pattern-3 {
    background: url(../img/Lightbluetexture.png);
    background-size: cover;
}

.pattern-4 {
    background: url(../img/bluepurpletexture.jpg);
    background-size: cover;
}

.imagery-1 {
    background-size: contain;
    border: none;
}

.imagery-2 {
    background-size: contain;
    border: none;
}

.imagery-3 {
    background-size: contain;
    border: none;
}

.imagery-4 {
    background-size: contain;
    border: none;
}

.icon-1{
    background: url("../img/grad-icon.png");
    background-size: contain;
    border: none;
}

.icon-2{
    background: url("../img/book-icon.png");
    background-size: contain;
    border: none;
}

.icon-3{
    background: url("../img/wineicon.png");
    background-size: contain;
    border: none;
}


.primary-nav {
  list-style: none;
  display: inline-block;
  font-style: oblique;
  font-family: sans-serif;
  font-variant: small-caps;
  }

ul {
    list-style: none;
    transition: all .5s;
    margin: 0;
    padding: 0;
}

nav a:link {
  background-color: #3E9CBB;
  text-decoration: none;
  transition: all .5s;
}

nav a:visited {
  background-color: #3E9CBB;
  text-decoration: none;
  padding: .25em;
  transition: all .5s;
}

nav a:hover {
  background-color: #2A3C7E;
  margin-left: .5em;
  color: azure;
}

nav a:hover:before {
    padding-right: .5em;
    background: #2A3C7E;
    content: "\1F60D";
    transition: all 2s;
}

nav a:active {
  background-color: red;
  color: black;
}

li a:hover {
    background-color: #555;
    color: white; 
}


h1 {
    font-family: 'IM Fell Double Pica', serif;
    font-size: 300%;
    font-weight: 500;
    color: #503F1B;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-variant: inherit;
    color: #2A3C7E;
    text-decoration: inherit;
}

h3 {
    font-family: monospace;
    color: #541C28;
    font-variant: small-caps;
    text-decoration: underline;
}

p {
    font-family: sans-serif;
    color: #5B36A1;
    font-weight: 600;
}

button {
    font-size: 150%;
    color: #3E9CBB;
}  










