/*Color Palette*/
.color-1{background: red;
}

.color-2{
    background: white;
}

.color-3{
    background: blue;
}

.color-4 {
    background: black;
}

/*Textures and Patterns*/
.pattern-1 {
    background: url("http://thumbs.dreamstime.com/z/usa-background-template-patriotic-independence-day-modern-design-concept-inspired-flag-includes-watercolor-texture-41386107.jpg") no-repeat;
    background-size: cover;
}

.pattern-2 {
    background: url("../img/prettystarbucks.jpg"} no-repeat;
    background-size: contain;

}

/*Images*/
.imagery-1 img{
    box-shadow: 
        5px 5px 0 red,
        10px 10px 0 white,
        15px 15px 0 blue;

}

/*Icon*/
.icon-1 {
    border: none;
}

.icon-2 {
    background: url("../img/iconmonstr-smartphone-4-240.png");
    background-size: contain;
}

/*Navigation*/
nav li {
    list-style: none;
    display: inline-block;
}

