/* Did it change? The Fabulous Style Sheet for my Portfolio!*/

@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import url('https://fonts.googleapis.com/css?family=Arvo');


/*Body, Headings, Paragraphs*/

body {
   background: url("../img/professionalgraybackground.jpg");
    background-size: cover;
}


h1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

h2 {
    font-family: 'Montserrat',sans-serif;
    font-size: 2em;
    text-align: center;
 
    color: black;
}

.grad {
    height: 50px;
    width: 50px;
}

p {
    font-family: 'IM Fell Double Pica', serif;
    color: #2A3C7E;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
}

#myname {
background: -webkit-linear-gradient(to left, #E55D87 , #5FC3E4); 
background: linear-gradient(to left, #D8D8D8, #D8D8D8); 
}

.book {
    height: 35px;
    width: 35px;
}


.resize {
    background-size: contain;
    width: 200px;
    height: 200px;
}








/*RWD / Media Queries*/

@media screen and (max-width: 400px) 
{
    .grad {
        display: none;
    }
}






/*Navigation Bar!



#headerbar {
    height: 100px;
    font-size: .8em;
    margin-top: -100px;
    margin-right: 25px;
    
}

nav li{
  
  list-style: none;
  display: inline-flex;
  font-family: 'IM Fell Double Pica', serif;
  }


ul {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

nav a:link,
nav a:visited {
    color: black;
  background-color: #ABB4B8;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
  font-variant: small-caps;
  font-style: normal;
}

nav a:hover {
  background-color: lightslategray;
  margin-left: .5em;
  color: azure;
 
}

nav a:hover:before {
    padding-right: .5em;
    background: #9CAFB5;
    content: inherit;

}

nav a:active {
  background-color: #cce6ff;
  color: black;
}

div {
    width: 100%;
    text-align: center;
}


*/

/*Nav Bar!*/



.pagesnav {
    text-align: center;
    margin-top: -2em;
    padding-bottom: 2em; 
    
}




nav li{
  display: inline-flex;
  font-size: 1em;
  text-decoration: none;
  }


ul {
  text-align: center;
}

nav a:link,
nav a:visited {
  background-color: black;
    color: whitesmoke;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
    font-family: 'Arvo', serif;
}

nav a:hover  {
  background-color: gainsboro;
  margin-left: .5em;
  color: black;
 
}

nav a:hover:before {
    padding-right: .5em;
    background: black;

}

nav a:active {
  background-color: whitesmoke;
  color: black;
}










/*Overlay!*/

.overlay {
  background: #99ccff;
  text-align: center;
  display: none;
}

.overlay:target {
    background: rgba(9, 14, 30, .8);
    display: block;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;   
    bottom: 0px;
    right: 0px;
    position: fixed;
    overflow: hidden; 
    z-index: 1;
}

.small {
    height: 200px;
    width: 150px;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    position: relative;
    align-content: center;
}

.large {
    height: 500px;
    width: 350px;
}









/*Thumbnails*/
li {
  float: inherit;
  list-style: none;
  margin: 6px;
}

h3 {
  clear: left;
font-family: serif;
  text-align: center;
}

.actual {
  position: relative;
}

.actual img {
  position: absolute;
  top: 40px;
  left: 40px;
}







/*Images!*/
section {
    object-position: center;
    position: relative;
}

.img-circle {
    border-radius: 75%;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-circle.resize {
    border-radius: 50%;
    background-size: contain;
    width: 150px;
    height: 150px;
}



/*
.thumbnails li:nth-child(1) img {
  border: 5px solid purple;  
  height: 75px;
  width: 50px;
  transform: rotate(-10deg);
}

.thumbnails li:nth-child(2) img {
  border: 5px solid blue;
  height: 75px;
  width: 50px;
  transform: rotate(-5deg);
}

.thumbnails li:nth-child(3) img {
  border: 5px solid aquamarine; 
  height: 75px;
  width: 50px;
  transform: rotate(8deg);
}

.thumbnails li:nth-child(4) img {
  border: 5px solid purple; 
  height: 75px;
  width: 50px;
  transform: rotate(-7deg);
}

Thumbnails: Targets!

#actual-1:target {
  border: 10px solid purple;
  z-index: 1;
  height: 800px;
  width: 700px;
}

#actual-2:target {
  border: 10px solid blue;
  z-index: 2;
  height: 800px;
  width: 700px;
}

#actual-3:target {
  border: 10px solid aquamarine;
  z-index: 3;
  height: 1075px;
  width: 700px;
}

#actual-4:target {
  border: 10px solid purple;
  z-index: 3;
  height: 1075px;
  width: 700px;
}

.actual img {
  opacity: 0;
}

img:target  {
  opacity: 1;
  transition: opacity .5s;
}
*/