/*The Fabulous Style Sheet for my Portfolio!*/

@import url(https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica);


/*Body, Headings, Paragraphs!*/

body {
    background: url("../img/Lightbluetexture.png");
    background-size: cover;
}

h1 {
    font-size: 4em;
    font-family: 'IM Fell Double Pica', serif;
    text-align: center;
    color: #2A3C7E;
    text-shadow: 4px 4px 0 #CFC9ED;
}


.grad {
    height: 50px;
    width: 50px;
}


p {
    font-family: 'IM Fell Double Pica', serif;
    color: #2A3C7E;
    font-weight: 400;
    font-size: 1.8em;
    text-align: center;
}

.book {
    height: 35px;
    width: 35px;
}


/*RWD / Media Queries (Mobile first)*/

@media screen and (max-width: 400px) 
{
    .grad {
        display: none;
    }
    
}




/*Navigation Bar!*/

nav li{
  
  list-style: none;
  display: inline-flex;
  font-style: oblique;
  font-family: 'IM Fell Double Pica', serif;
  }


ul {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

nav a:link,
nav a:visited {
  background-color: #CFC9ED;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover {
  background-color: #2A3C7E;
  margin-left: .5em;
  color: azure;
 
}

nav a:hover:before {
    padding-right: .5em;
    background: #2A3C7E;
    content: 

}

nav a:active {
  background-color: #cce6ff;
  color: black;
}

div {
    width: 100%;
    text-align: center;
}







/*Overlay!*/

.overlay {
  background: #99ccff;
  text-align: center;
  display: none;
}

.overlay:target {
    background: rgba(9, 14, 30, .8);
    display: block;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;   
    bottom: 0px;
    right: 0px;
    position: fixed;
    overflow: hidden; 
    z-index: 1;
}

.small {
    height: 200px;
    width: 150px;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    position: relative;
    align-content: center;
}

.large {
    height: 500px;
    width: 350px;
}









/*Thumbnails*/
li {
  float: left;
  list-style: none;
  margin: 5px;
}

h3 {
  clear: left;
  padding-top: 20px;
  text-align: center;
}

.actual {
  position: relative;
}

.actual img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/*
.thumbnails li:nth-child(1) img {
  border: 5px solid purple;  
  height: 75px;
  width: 50px;
  transform: rotate(-10deg);
}

.thumbnails li:nth-child(2) img {
  border: 5px solid blue;
  height: 75px;
  width: 50px;
  transform: rotate(-5deg);
}

.thumbnails li:nth-child(3) img {
  border: 5px solid aquamarine; 
  height: 75px;
  width: 50px;
  transform: rotate(8deg);
}

.thumbnails li:nth-child(4) img {
  border: 5px solid purple; 
  height: 75px;
  width: 50px;
  transform: rotate(-7deg);
}

Thumbnails: Targets!

#actual-1:target {
  border: 10px solid purple;
  z-index: 1;
  height: 800px;
  width: 700px;
}

#actual-2:target {
  border: 10px solid blue;
  z-index: 2;
  height: 800px;
  width: 700px;
}

#actual-3:target {
  border: 10px solid aquamarine;
  z-index: 3;
  height: 1075px;
  width: 700px;
}

#actual-4:target {
  border: 10px solid purple;
  z-index: 3;
  height: 1075px;
  width: 700px;
}

.actual img {
  opacity: 0;
}

img:target  {
  opacity: 1;
  transition: opacity .5s;
}
*/

/*Images!*/
section {
    object-position: center;
    position: relative;
}

.img-circle {
    border-radius: 75%;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}